@page "/prescriptions/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Prescription</h3>
<hr />
<br />

<FormComponent ButtonText="Create Prescription" OnValidSubmit="CreatePrescription" prescription="prescription" />

@code {
    Prescription prescription = new Prescription();

    private IList<Customer>? Customers;

    protected async override Task OnInitializedAsync()
    {
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
    }

    private async Task CreatePrescription()
    {
        await _client.PostAsJsonAsync(Endpoints.PrescriptionsEndpoint, prescription);
        _navManager.NavigateTo("/prescriptionitems/create/");
    }

}