@page "/orders/create/"
@inject HttpClient _client
@inject NavigationManager _navManager


<h3 class="card-title">Create New Order</h3>
<hr />
<br />

<EditForm Model="@order" OnValidSubmit="CreateOrder">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Order Date: </label>
        <div>
            <InputText @bind-Value="@order.Order_Date" class="form-control" />
            <ValidationMessage For="@(() => order.Order_Date)" />
        </div>
    </div>
 

    <br />
    <br />

    <button type="submit" class="btn btn-success btn-block">
        Create Order
    </button>

</EditForm>

@code {
    Order order = new Order();


    private async Task CreateOrder()
    {
        await _client.PostAsJsonAsync(Endpoints.OrdersEndpoint, order);
        _navManager.NavigateTo("/orders/");
    }
}
