@page "/aboutus"

<h3 style="font-size: 50px;">About Us</h3>

<p style="font-size: 30px;">We aim provide accessible and effective skincare</p>
<p style="font-size: 30px;">solutions to empower individuals in their</p>
<p style="font-size: 30px;">journey towards healthier, radiant skin.</p>

@code {
    
}
