@page "/"

<PageTitle>Index</PageTitle>

<h3 style="color: black; font-size: 50px; font-family: Rye; font-weight: 400; word-wrap: break-word">SkinCare<br />Pharmacy</h3>

<header style="background-color: #666; padding: 30px; text-align: center; font-size: 35px; color: white;">
    <h2>Products</h2>
</header>

<section>
    <nav style="float: left; width: 30%; height: 300px; background: #ccc; padding: 20px;">
        <ul style="list-style-type: none; padding: 0;">
            <li><a href="/products/">Products</a></li>
            <li><a href="/appointments/">Appointments</a></li>
        </ul>
    </nav>

    <article style="float: left; padding: 20px; width: 70%; background-color: #f1f1f1; height: 300px;">
        <h1>About Us</h1>
        <p style="font-size: 30px;">We aim provide accessible and effective skincare</p>
        <p style="font-size: 30px;">solutions to empower individuals in their</p>
        <p style="font-size: 30px;">journey towards healthier, radiant skin.</p>

    </article>
</section>

<footer style="background-color: #777; padding: 10px; text-align: center; color: white;">
    <p>Terms & Conditions</p>
</footer>
